@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-marvel);
  --font-mono: var(--font-inconsolata);
}

@theme {
  --color-cyan-500: #2CB1BC;
  --color-cyan-800: #0A6C74;
  --color-cyan-shade: #1BB8C5;
  --color-blue-800: #0A558C;
  --color-teal-700: #147D64;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Marvel, Helvetica, sans-serif;
}
